<%- include('./header.ejs', {title: title}); %>
<h1><%= menuTitle %></h1>
  <H1>
    <%= data %> 
  </H1>
  </br>
  <button type="button" class="btn btn-light" onclick="history.back()">Go Back</button>
  
  </body>

  </html>