<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title><%= title %></title>
    
    <link rel="shortcut icon" href="/img/UPS_logo.png" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/functions/bootstrap-datepicker3.min.css">
    
    
    <script src="/functions/popper.min.js"></script>
    
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/ionicons/dist/ionicons.js"></script>

    <script src="/functions/bootstrap-datepicker.js"></script>
    
    
</head>
<body>
    <div class="container-fluid" style="background-color: hsl(28, 93%, 11%);">
        <div class="row">
            <div class="col-sl">
                <img src="/img/UPS_logo256256.png" width="100" height="100" class="d-inline-block align-top" alt="">
            </div>
        </div> 
    </div>   
    