<%- include('./header.ejs', {title: title}); %>
<h1><%= menuTitle %></h1>
<select style="width:200px;" id="type" >
    <option value="ALL">ALL</option>
    <option value="SHP">SHP</option>
    <option value="RCV">RCV</option>
    <option value="QA">QA</option>
    <option value="MRB">MRB</option>
    <option value="IS">IS</option>
</select>

</body>
</html>