<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self';">-->
    
    <title>Rule Assign</title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>

    <table class="table">
        <thead class="table-dark table-bordered border-dark">
            <tr>
                <td>Plant</td>
                <td>DP</td>
                <td>Condition</td>
                <td>Orde</td>
                <td>Country Control</td>
                <td>So Control</td>
                <td>Wothout Holiday</td>
                <td>Service Hour</td>
            </tr>
        </thead>
        <tbody id="service">
            
        </tbody>
    </table>


    
    <script src="functions/serviceassign.js"></script>
</body>

</html>